/*Sombra del contenedor*/
#contenidoPrincipal{
  -webkit-box-shadow: 1px 1px 27px 0px rgba(128,128,128,1);
  -moz-box-shadow: 1px 1px 27px 0px rgba(128,128,128,1);
  box-shadow: 1px 1px 27px 0px rgba(128,128,128,1);
  background-color: white;
}
/*Estilos del navbar, iconos, botones y logo*/
.colorNavMenu{
  background-color: #66bdda;
}
.iconoMenu{
  margin-left: auto;
  margin-right: auto;
  max-width: 17rem;
}
/*Estilo de los iconos*/
.iconColor{
  color: #08D8FF;
}
/*Estilos del banner inferior*/
.cuadrosFlotantes{
  margin-left: auto;
  margin-right: auto;
}
.box-award__time, .box-award__title{
  /*background-color: #00BD9D;
  opacity: 0.8;*/
  font-weight: bold;
}
/*Edicion footer*/
.iconosUpFooter{
  display: inline;
}
.footerParrafo{
  color:#00BD9D !important;
}
