body{
  background-color: white;
}
#contenedorPrincipal{
  -webkit-box-shadow: 1px 1px 27px 0px rgba(128,128,128,1);
  -moz-box-shadow: 1px 1px 27px 0px rgba(128,128,128,1);
  box-shadow: 1px 1px 27px 0px rgba(128,128,128,1);
}
/*Estilos de barra de menu*/
.iconoMenu{
  max-width: 8rem;
}
#navMenu{
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
/*Estilos Parte de Registro*/
.imglogin{
  width: 160px;
}
#mercadoTienda{
  margin-top: 5px;
  width: 100%;
}
#conceptoTienda{
  color: white;
  background-color: rgba(000,000,000, 0.9);
}
#conceptoTienda p{
  padding-top: 20px;
}

#conceptoPlanes{
  background-color: #54C0EB;
}
#conceptoPlanes p{
  color:white;
  margin-top: 15px;
}
#conceptoPlanes span{
  color:white;
  font-size: 3rem;
  margin: 5px;
}
/*Estilos de Footer*/
footer{
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px solid #84dbff;
}
footer p{
  font-size: 0.9rem;
}
footer span{
  font-size: 1.2rem;
}
