/*Logotipo de inicio*/
.logo{
  width: 150px;
}
/*Clase para establecer color de texto en blanco*/
.textWhite{
  color: white !important;
}
/*Degradado del navbar*/
.degradadoNavbar{
    background: #00d8ff;
    background: linear-gradient(to right, #009db9, #11dbff);
    padding: 2.8px !important;
}
/*Slide*/
#slide-opciones{
  background: #09717F;
}

/*Modal*/
  .btn-color{
    color: #fff;
    background-color: #00D8FF;
  }
  .btn-colorPerfil{
    color: #fff;
    font-weight: bold;
    background: #0EA4B8;
  }
  .truncar-texto{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .textos{
    border: 0;
    border-bottom: 1px solid  #00D8FF;
    text-align: left;
  }
/*Productos*/
#precioOferta{
  color: #0EAABF!important;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: auto !important;
}
.tarjeta{
  padding: 10px !important;
}

#imagenProducto img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 149px;
  max-height: 150px !important;
}

.btn-producto{
  color: #0EA4B8 !important;
  padding: 3px;
  font-size: 12px;
  font-weight: 600;
  /*background: #0EA4B8;*/
}

/*Estilos del area Principal*/
/*Frase bannrer*/
#parrafoBanner{
  color: #fff;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10%;
  margin-left: 22%;
}


/*Perfil*/
#imagenPerfil{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
#nombrePerfil{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: block;
}
#opcionPerfil , #InformacionPerfil{
  margin-left: auto;
  margin-right: auto;
}
#map{
  width: 98%;
  height: 70vh;
}
fieldset{
  text-align: center;
}

.centradoFOrmulario{
  padding-left: 10%;
  padding-right: 10%;
}

#perfil-ususario input{
  margin-bottom: 15px;
}
.img-recuadroPrincipal{
  padding: 15pX;
  border: 1px solid #CACBCC;
  margin-left: auto;
  margin-right: auto;
}
.img-recuadroSecundario{
  text-align: center;
  background-color: #F2F3F5;
}

/*Principal*/
#bannerPrincipal{
  height: 326px;
  background-size: cover;
}

/*Efecto Swiper*/
.swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    height: 300px !important;
}
.swiper-container {
      width: 80% !important;
      padding-top: 50px !important;
      padding-bottom: 50px !important;
}


.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}