/*Logotipo de inicio*/
.logo{
  width: 150px;
}
/*Clase para establecer color de texto en blanco*/
.textWhite{
  color: white !important;
}
/*Degradado del navbar*/
.degradadoNavbar{
  background: linear-gradient(270deg, #11cce5, #053940, #13e3ff, #09717f, #0eaabf);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  padding: 3px !important;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*Slide*/
#slide-opciones{
  background: #09717F;
}

/*Modal*/
  .btn-color{
    color: #fff;
    background-color: #00D8FF;
  }

  .textos{
    border: 0;
    border-bottom: 1px solid  #00D8FF;
    text-align: left;
  }
/*Productos*/
#precio-oferta{
  color: #0EAABF!important;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: auto !important;
}
.tarjeta{
  padding: 10px !important;
}
.btn-anadirCarrito{
  color: white;
  font-weight: 600;
  background: #0EA4B8;
}

/*Perfil*/
#imagen-perfil{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
#nombre-perfil{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: block;
}
#opcionPerfil{
  margin-left: auto;
  margin-right: auto;
}
